<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/stylesheet.css') }}">
    <title>Data Sets</title>
</head>
<body>
    <div class="dashboard">
        <div class="navbar">
         <img src="{{ url_for('static', filename='Images/logonahrimwebsite.png') }}" alt="Nahrim Logo" class="navbar-logo" height="100" width="400">
            <a href="/">Home</a>
            <a href="/map">Map</a>
            <a href="/data">Data Sets</a>
            <a href="#">Privacy</a>
        </div>
</body>
</html>